
/* Font */
.inter-fitness{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    color: #E6533C;
  }

  .shape{
    font-family: 'Miama', sans-serif;                                             
                                        
  }
  

/* nav bar related styles */
header{
    background-color: rgb(27, 25, 25);
}
nav{

    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.nav-ul{

    display: flex;
    list-style: none;
    justify-content: space-between;
    justify-items: center;
    margin-right: 80px;
    gap: 30px;
    border: 1px solid gray;
    border-radius: 14px;
    padding: 5px;
}

.nav-home{

    color: white;
    background-color: #E6533C;
    width: 80px;
    border-radius: 14px;
    text-align:  center;
   
}


/* header section styles */

.header-section{
    display: flex;
    gap: 9.6rem;
}
.header-section-div1{

    height: 440px;
    width: 520px;
}




/* Shared color style */
.color-white{
    color: white;
}

.color-less-white{
    color: #FFFFFF;
}

.join-club{
    background-color: #E6533C;
}
.download-app{

    background-color: black;
}


/* Shared button styles */

.join-club , .download-app{

    height: 55px;
    width: 226px;
    border-radius: 53px;
    color: white;

}




/* Main section */

.change-habit{

    text-align: center;
    
}



