
*{
    background-color: black;
}
*{
    color: #FFFFFF;
}
/* Font */
.inter-fitness{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    color: #E6533C;
    margin-left: 3rem;
  }

  .shape{
    font-family: 'Miama', sans-serif;                                             
                                        
  }
  

/* nav bar related styles */
header{
    background-color: black;
    height: 715px;
}
nav{

    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.nav-ul{

    display: flex;
    list-style: none;
    justify-content: space-between;
    justify-items: center;
    gap: 1.8rem;
    border: 2 px solid whitesmoke ;
    
}

.nav-home{

    color: white;
    background-color: #E6533C;
    width: 90px;
    border-radius: 14px;
    text-align:  center;
   
}


/* header section styles */

.header-section{
    display: flex;
    gap: 9.6rem;
}
.header-section-div1{

    height:auto;
    width: 510px;
    margin-left: 4.6rem;
}


.header-section-div2{
    position: relative;
    background-color: black;
}
.free-workout{
    position: absolute;
}

.video-tutorial{
    position: absolute;
}
.img-5{
    height: 585px;
    width: 430px;
}



/* Shared color style */
.color-white{

    color: white;
    width: 150px;
}

.color-less-white{
    color: #FFFFFF;
}

.join-club{
    background-color: #E6533C;
}
.download-app{

    background-color: black;
}


/* Shared button styles */

.join-club , .download-app{

    height: 55px;
    width: 226px;
    border-radius: 53px;
    color: white;

}




/* Main section */

.change-your-habit{

    text-align: center;
    background-color: black;
    color: whitesmoke ;
    
}

/* Chance Your Habit */
.change-habit-sub-div{
    color: whitesmoke;
    width: 15%;
    height: 23rem;
    text-align: center;
    
}

.change-habit-img{
    border-radius: 6rem;
}

.aside{
    text-align: center;
}

.caption-and-paragraph{
    margin-top: 1rem;
}

.change-habit-img-div{
   
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
    padding: 1rem;
    
}

.run-extra-mile{

    border: 1px solid white;
    display: flex;
    
}

/*  Run an Extra Mile Easily */

.aside-for-article-with-button{

    color: #FFFFFF;
}
