
*{
    background-color: rgb(12, 11, 11);
}
*{
    color: #FFFFFF;
}
/* Font */
.inter-fitness{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    color: #E6533C;
    margin-left: 3rem;
  }

  .shape{
    font-family: 'Miama', sans-serif;                                             
                                        
  }
  

/* nav bar related styles */
header{
    background-color: black;
    height: 715px;
    margin-top: auto;
}
nav{

    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.nav-ul{

    display: flex;
    list-style: none;
    justify-content: space-between;
    justify-items: center;
    gap: 1.8rem;
    border: 2 px solid whitesmoke ;
    
}

.nav-home{

    color: white;
    background-color: #E6533C;
    width: 90px;
    border-radius: 14px;
    text-align:  center;
   
}


/* header section styles */

.header-section{
    display: flex;
    gap: 9.6rem;
    margin-top: auto;
}
.header-section-div1{

    height:auto;
    width: 510px;
    margin-left: 4.6rem;
}


.header-section-div2{
    position: relative;
    background-color: black;
}
.free-workout{
    position: absolute;
}

.video-tutorial{
    position: absolute;
}
.img-5{
    height: 585px;
    width: 430px;
}



/* Shared color style */
.color-white{

    color: white;
    width: 150px;
}

.color-less-white{
    color: #FFFFFF;
}

.join-club{
    background-color: #E6533C;
}
.download-app{

    background-color: black;
}


/* Shared button styles */

.join-club , .download-app{

    height: 55px;
    width: 226px;
    border-radius: 53px;
    color: white;

}




/* Main section */

.change-your-habit{

    text-align: center;
    background-color: black;
    color: whitesmoke ;
    
}

/* Chance Your Habit */
.change-habit-sub-div{
    color: whitesmoke;
    width: 15%;
    height: 23rem;
    text-align: center;
    
}

.change-habit-img{
    border-radius: 6rem;
}

.aside{
    text-align: center;
}

.caption-and-paragraph{
    margin-top: 1rem;
}

.change-habit-img-div{
   
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem;
    padding: 1rem;
    
}



/*  Run an Extra Mile */
.run-extra-mile{

    height: auto;
    display: flex;
    margin: 1rem 4rem 1rem 4rem;
    justify-content: space-around;
        
    }

.aside-for-article-with-button{

    color: #FFFFFF;
  
    width: 31.25rem;
    margin-left: 1rem;
    padding: 1rem;


}

.join-now-button{

    background-color: #b35f53;
    width: 160px;
    height: 54px;
    border-radius: 42px;
    margin-top: 4rem;
}
.aside-for-image{
    width: 366px;
    height: 312px;
    align-content:  center;
}

/* BMI heading */


.bmi-heading{
    height: 120px;
    width: 671px;
   
    text-align: center;
    margin-left: 18rem;
    
}





/* BMI Calculator and chart */

.bmi-chart-calculator{

    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 4rem;
    margin-right:5rem;
    background-color: lightslategray;
}

.for-chart{
    margin-left: 4rem;
}
table{
    margin-top: 4rem;
}

.for-chart , .for-BMI , .for-chart-heading , .for-BMI-heading , .for-BMI-p{

    background-color: lightslategray;

}



th ,td{
    border: 1px solid black;
    padding: 5px 10px;
    background-color: lightslategray;

}
table{
    border-collapse: collapse;
}

.calculator-title-short-description{

    text-align: center;
}

.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: auto;
    margin-left: 10rem;
    margin-right: 10rem;
    width: auto;
    height: 7rem;
    text-align: center;
    background-color: lightslategray;
    
}

.form2{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    height: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 1rem;
}

.bmi-button{

    width: 224px;
    height: 54px;
    padding: 2px;
    background-color: #E6533C;
    border-radius: 41px;
    margin-right: 9.5rem;
    
}


/* Meet our team */

.meet-our-team{

    text-align: center;
}


.row{
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}
.trainer{
    height: 250px;
    width: 300px;
    border-radius: 10px;
   

}
.meet-our-team-images{
    margin-left: 12rem;
}


footer{
    border: 1px solid red;
    height: auto;
    width: auto;
}

.footer-section{
    display: flex;
    justify-content: space-evenly;
}